<% unless comment.archived? %>
<p>
  <strong>Commenter:</strong>
  <%= User.find(comment.commenter_id).username %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<%if session[:user_id] == comment.commenter_id%>
<p>
<%= link_to "Destroy Comment", [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>
<% else %>

hello

<% end %>
<% end %>
