<p style="color: green"><%= notice %></p>

<h4>Friends</h4>

<table id="friends">
  <%= render "friendtable"%>
  <% @friends.each do |friend| %>
    <%= render friend %>
    
  <% end %>
</table>

<%= link_to "New friend", new_friend_path %>
