<p style="color: green"><%= notice %></p>

<h4>Friends</h4>

<div id="friends">
  <% @friends.each do |friend| %>
    <%= render friend %>
    <p >
      <%= link_to "Show this friend", friend%>
    </p>
  <% end %>
</div>

<%= link_to "New friend", new_friend_path %>
