<nav>
  <ul class="navbar">
    <li class="menu"><div class="normal"><%= link_to "Baban Web", root_path %></div></li>
    <li ><a href="#"class="normal">About</a></li>
   <li > <a href="#"class="normal">Services</a></li>
  </ul>
</nav> 