<div class="content">
	<% @articles.each do |article| %>
	<div  class="normal list big-font center">

		<%= link_to article.title, article %>
	</div>
	<% end %>
</div>
<%= link_to "New Article", new_article_path %>