.button {
  background: inherit;
  border: white 0 solid;
  color: white;
  border-radius: var(--border-small);
  font-size: inherit;
  font-family: inherit;
  font-style: inherit;
  padding: 0;
  cursor: pointer;
}
