.normal {
  text-transform: none;

  a {
    color: inherit;
    text-decoration: inherit;

    &:hover,
    &:active,
    &:hover,
    &:visited {
      color: inherit;
      text-decoration: inherit;
      cursor: pointer;

    }

  }
}
