/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Noto%20Sans%20Tifinagh:700|Noto%20Sans%20Tifinagh:400');

@import "var.scss";
@import "header.scss";
@import "link.scss";
@import "comment.scss";
@import "animation.scss";

body {
	background-color: var(--background);
	margin: 0;
	color: var(--text);
}
.center{
	text-align: center;
}

.content{
	display: flex;
	flex-direction: row;
	margin-bottom: 4em;
	margin-left: 7%;
	margin-right: 7%;
	padding-bottom: 1rem;
	padding-top: 1rem;
	padding-right: 3%;
	padding-left: 3%;
	
}


.list{
	background-color: var(--secondary);
	font-size: 1.333rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	min-width: 15rem;
	border-radius: 10%;
}


ul li{
	padding-bottom: 1em;
}

h1{
	color: inherit;
}




/*https://www.realtimecolors.com/?colors=100e0c-fcfcfb-ad865a-d6b999-d4a876&fonts=Noto%20Sans%20Tifinagh-Noto%20Sans%20Tifinagh*/

@media (max-width: 800px) {
  .content {
    flex-direction: column;
  }
  .list{
  	min-width: inherit;
  }


.show-content{
	margin-left: 5%;
}

}