.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background-color: var(--accent-200);*/
	box-shadow: 0 0 2px white;
	margin-bottom: 10vh;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	font-size: 120%;
  }
  
  .navbar li {
	float: right;
	display: block;
	text-align: center;
	padding: 1% 2%;
	text-decoration: none;
	margin-right: 5%;
  }

  .navbar li:first-child{	
  	float: left;
  	margin-left: 10%;
  	font-weight: bold;
  	border-radius: 1em;
  	border: 0;
  }
  
  .navbar li a {
	color: var(--text);
	vertical-align: auto;
  } 

@media (max-width: 800px) {
	body{
		font-size: 70%;
	}
	.navbar li{
		padding: 2% 3%;
		margin-right: 2%;
	}
	.navbar li:first-child{
		margin-left: 5%;
}
}