.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--accent-200);
	margin-bottom: 10vh;
  }
  
  .navbar li {
	min-width: 5em;
	float: left;
	display: block;
	text-align: center;
	padding: 14px 16px;
	border-right: var(--primary-800) solid 0.3em;
	text-decoration: none;
	
	
  }
  
  .navbar li a {
	color: #000;
	vertical-align: auto;
  } 

