table{
border: 0.1em white solid;
font-size: 140%;
	td,th{
		border: 0.1em white solid;
	}
	.column-med{
		max-width: 30vw;
		min-width: 30vw;
	}
	.column-big{
		max-width: 50vw;
		min-width: 30vw;
		overflow: hidden;
	}
}



@media (max-width: 800px) {
	table{
		border: 0.07em white solid;
		td,th{
			border: 0.05em white solid;
		}
		.column-small{
			max-width: 5vw;
		}
		font-size: 100%;
	}
}