body {
  font-family: 'Noto Sans Tifinagh';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Noto Sans Tifinagh',sans-serif;
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}


:root {
--text-50: #effaeb;
--text-100: #dff4d7;
--text-200: #beeaae;
--text-300: #9edf86;
--text-400: #7dd45e;
--text-500: #5dc936;
--text-600: #4aa12b;
--text-700: #387920;
--text-800: #255115;
--text-900: #13280b;
--text-950: #091405;

--background-50: #f0faeb;
--background-100: #e2f4d7;
--background-200: #c4e9af;
--background-300: #a7de87;
--background-400: #89d35f;
--background-500: #6cc837;
--background-600: #56a02c;
--background-700: #417821;
--background-800: #2b5016;
--background-900: #16280b;
--background-950: #0b1405;

--primary-50: #effaeb;
--primary-100: #e0f4d7;
--primary-200: #c0eaae;
--primary-300: #a1df86;
--primary-400: #81d45e;
--primary-500: #62c936;
--primary-600: #4ea12b;
--primary-700: #3b7920;
--primary-800: #275115;
--primary-900: #14280b;
--primary-950: #0a1405;

--secondary-50: #ebfaf6;
--secondary-100: #d7f4ec;
--secondary-200: #aeeada;
--secondary-300: #86dfc7;
--secondary-400: #5ed4b5;
--secondary-500: #36c9a2;
--secondary-600: #2ba182;
--secondary-700: #207961;
--secondary-800: #155141;
--secondary-900: #0b2820;
--secondary-950: #051410;

--accent-50: #ebf9fa;
--accent-100: #d7f4f4;
--accent-200: #aee9ea;
--accent-300: #86dddf;
--accent-400: #5ed2d4;
--accent-500: #36c7c9;
--accent-600: #2b9fa1;
--accent-700: #207779;
--accent-800: #155051;
--accent-900: #0b2828;
--accent-950: #051414;






	
	
  }
  